* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/bgWeather.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(20px);
  z-index: -1;
  color: #f0f0f5;
}

.App {
  width: 1200px;
  font-size: 18px;
}

.app-name {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #4caf50;
  display: inline-block;
  background-image: linear-gradient(to left bottom, #2998ff, #5643fa);

  -webkit-background-clip: text;
  color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.city-search {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.weather {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #f0f0f5;
}

.weather--left {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  padding: 28px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.weather--left button {
  position: absolute;
  left: 5px;
  top: 10px;
}
.weather--right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 60%;
}
.favorites {
  width: 30%;
}
.favorites ul {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.favorites ul a {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  color: #333;

  &:hover {
    color: #999;
  }
}

.forecast-item {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
  padding: 8px 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  width: 80%;
}
.forecast-item--day {
  font-weight: 500;
}

.weather-left-temp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempurature {
  font-size: 40px;
  font-weight: 800;
  align-self: flex-end;
}
.weather-img {
  height: 150px;
  width: 150px;
}
.weather-date {
  font-weight: 500;
}
.weather-wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #188fa7;
  padding: 8px 32px;
  border-radius: 10px;
}
.weather-wind span {
  font-weight: 600;
}

.loading-error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  color: rgb(211, 3, 3);
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  padding: 9px 20px;
}

button {
  padding: 8px 26px;
  background-color: #2998ff;
  border: none;
  color: #f0f0f5;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 20px;

  &:hover {
    background-color: #5643fa;
  }
}
